---
http_interactions:
- request:
    method: post
    uri: https://api.insee.fr/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - "<Authorization>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"access_token","scope":"am_application_scope default","token_type":"Bearer","expires_in":714}'
  recorded_at: Fri, 10 Dec 2021 13:25:54 GMT
recorded_with: VCR 6.0.0
